@import '../../config.all';

.footer {
  background: var(--c-background);
}
.footer-primary {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  height: 400px;
  @include breakpoint($tablet) {
    transition: 0.4s;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 600px;
    justify-content: space-evenly;
  }
  @include breakpoint($mobile) {
    transition: 0.4s;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 800px;
  }
}
.footer-blog {
  padding-bottom: 40px;
}
.footer__menu-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  @include breakpoint($mobile) {
    margin: 15px;
  }
  @include breakpoint($tablet) {
    margin: 15px;
  }
}
.footer-secondary {
  border-top: 1px solid var(--c-black-50);
}
