@import '../../config.all';

.blog-listing__image {
  @include breakpoint($mobile) {
    width: 100%;
    height: 100%;
  }
  @include breakpoint($tablet) {
    width: 100%;
    height: 100%;
  }
}

.blog-listing-card {
  background: var(--c-white);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  border-radius: 5px;
  margin-bottom: 32px;
  max-width: 834px;
  // max-height: 800px;
  padding: 30px;
}

.blog-listing__header {
  border-bottom: 1px solid var(--c-grey-light);
}
.blog-listing__description {
  // color: var(--c-black-50);
  // padding: 20px 0px;
  // line-height: 24px;
  color: var(--c-black-50);
  padding: 15px 0px;
  line-height: 24px;
  max-width: 750px;
}
.blog-listing__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

.blog-listing__link {
  a {
    color: var(--c-black);
    @include link-clear;
  }
}
.blog-listing__author-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin-right: 20px;
  }
}
.blog-listing__date {
  color: var(--c-grey);
}
.blog-listing__author-image {
  border-radius: 50px;
  width: 32px;
  height: 32px;
}
.blog-listing__title {
  font-size: 56px;
  line-height: 64px;
  font-family: var(--f-secondary);
  @include breakpoint($tablet) {
    font-size: 50px;
  }
}
.blog-listing__category {
  padding: 30px 0px 5px 0px;
  a {
    @include link-clear;
    color: var(--c-black);
  }
}

.blog-listing-body-section {
  padding-left: 30px;
  height: 48px;
  max-width: 170px;
  @include breakpoint($mobile) {
    width: 257px;
  }
}

.blog-listing-body__desc {
  color: rgba(0, 0, 0, 0.5);
  @include breakpoint($mobile) {
    width: 225px;
  }
}

.blog-listing-body__title {
  width: 72px;
  height: 24px;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  line-height: 24px;
  @include breakpoint($mobile) {
    display: block;
  }
}

.blog-pager__previous,
.blog-pager__next {
  margin-top: 5px;
  margin-left: 5px;
  width: 10px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-pager__previous {
  background-image: url(/themes/custom/drupalastic/images/backarrowpager.png);
}
.blog-pager__next {
  background-image: url(/themes/custom/drupalastic/images/nextarrowpager.png);
}
