@import '../../config.all';
.lbl {
  color: var(--c-grey);
  font-family: var(--f-secondary);
}

.lbl-2 {
  color: var(--c-black);
  font-family: var(--f-secondary);
  font-size: 24px;
  line-height: 32px;
  margin-top: 48px;
  margin-bottom: 40px;
}
