<div class= "{{ class }}">
  <iframe src=" https://www.google.com/maps/embed?origin=mfe&amp;pb=!1m4!2m1!1s3QCH%2B7J6%2C+Batamaloo%2C+Srinagar%2C+Jammu+and+Kashmir+190009!5e0!6i14!5m1!1sen">
  </iframe>
</div>
