@import '../../config.all';
.gmap-frame {
  iframe {
    width: 570px;
    height: 464px;
    @include breakpoint($mobile) {
      width: 300px;
      margin: 50px 0px;
      height: 300px;
    }
    @include breakpoint($tablet) {
      width: 650px;
      margin: 50px 0;
      // height: 400px;
    }
  }
}
