@import '../../config.all';

.blog__tags-list {
  display: flex;
  list-style: none;
  a {
    padding: 5px;
    border: 1px solid rgb(67 76 204 / 30%);
    max-height: 32px;
    border-radius: 5px;
    text-align: center;
    margin-right: 14px;
    text-decoration: none;
  }
  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }
}
