.txtbox {
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 350px;
}
.txtbox:focus {
  outline: none;
}
.txtbox:active {
  outline: none;
}
