@import '../../config.all';
.txtbox {
  background: var(--c-white);
  border: 1px solid var(--c-grey-light);
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  width: 350px;
}
