<div class="footer-copyright">
  {% include "@atoms/text/paragraph/paragraph.twig" with {
  "text": textCreated
} %}
  {% include "@atoms/text/paragraph/paragraph.twig" with {
  "text": textCopyright
} %}
</div>
