@mixin hamburger {
  display: inline-block;
  float: right;
  padding-right: 5em;
  top: 0;
  cursor: pointer;
  z-index: 999;
}
.active .hamburger-bar:nth-child(2) {
  opacity: 0;
}

.active .hamburger-bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.active .hamburger-bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
