<div class="page-heading-wrapper">
  <div class="page-heading">
    {% include "@atoms/text/paragraph/paragraph.twig" with {
      "text": heading
    } %}
  </div>
  <div class="page-subheading">
    {% include "@atoms/text/paragraph/paragraph.twig" with {
      "text": subHeading
    } %}
  </div>
</div>
