@import '../../config.all';
.portfolio-footer {
  @include breakpoint($desktop) {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
  @include breakpoint($mobile) {
    padding: 20px;
  }
  @include breakpoint($tablet) {
    padding: 20px;
  }
  @include breakpoint($desktop) {
    padding: 20px;
  }
}
.portfolio-left-section {
  display: flex;
  width: 500px;
  margin-bottom: 22px;
  justify-content: space-between;
  @include breakpoint($mobile) {
    width: 100%;
  }
  @include breakpoint($tablet) {
    width: 60%;
  }
}
.portfolio-first-section,
.portfolio-second-section {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    color: var(--c-grey);
    margin: 10px 0px;
    display: block;
  }
  p {
    font-weight: bold;
    margin: 10px 0px;
  }
}
.portfolio-right-section {
  width: 570px;
  @include breakpoint($tablet) {
    width: 100%;
  }
  @include breakpoint($mobile) {
    width: 100%;
  }
  p {
    color: var(--c-black-50);
    margin: 20px 0px;
    line-height: 24px;
  }
  h2 {
    font-family: var(--f-secondary);
    font-size: 56px;
    line-height: 64px;
    font-weight: normal;
    margin-bottom: 30px;
    @include breakpoint($mobile) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
  }
  h4 {
    font-family: var(--f-secondary);
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 30px;
  }
}
