<div class="portfolio-container">
    <div class="portfolio-main">
      {% for slider in portfolioSlider %}
        {% include "@atoms/image/image.twig" with {
      "blogimgSrc": slider.imgSrc
    } %}
      {% endfor %}
    </div>
    <div class="portfolio-teaser">
      {% for slider in portfolioSlider %}
        {% include "@atoms/image/image.twig" with {
      "blogimgSrc": slider.imgSrc
    } %}
      {% endfor %}
    </div>
</div>
