@import '../../config.all';

.info-form-container {
  max-width: 835px;
  margin-bottom: 40px;
}

.info-text {
  display: flex;
  justify-content: space-between;
  @include breakpoint($mobile) {
    height: 120px;
    flex-direction: column;
  }
  @include breakpoint($tablet) {
    height: 120px;
    flex-direction: column;
  }
}
.txtName {
  width: 400px;
  @include breakpoint($tablet) {
    width: 450px;
  }
  @include breakpoint($mobile) {
    width: 100%;
  }
}
.txtEmail {
  width: 400px;
  @include breakpoint($tablet) {
    width: 450px;
  }
  @include breakpoint($mobile) {
    width: 100%;
  }
}
.txtMsg {
  width: 835px;
  height: 134px;
  @include breakpoint($tablet) {
    width: 450px;
  }
  @include breakpoint($mobile) {
    width: 100%;
  }
}
.info-btn {
  border-radius: 5px;
  background: var(--c-primary);
  text-transform: none;
}
