.btn {
  background-color: gold;
  color: #fff;
  border-radius: 20px;
  height: 48px;
  min-width: 170px;
  font-size: 1.1em;
  text-transform: uppercase;
  border: none;
}

.btn.secondary {
  border: 2px solid #1e6dfd;
  background-color: #fff;
  color: #1e6dfd;
}

.btn.signup {
  border: 1px solid var(--c-white-50);
  background-color: transparent;
  border-radius: 5px;
  // width: 170px;
  // line-height: 2;
  // height: 48px;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  // margin-top: -5px;
  padding: 7px;
}
