@import '../../config.all';

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: var(--f-primary);
  position: relative;
  bottom: 1.3em;
  @include breakpoint($mobile) {
    @include navbar;
  }
  @include breakpoint($tablet) {
    @include navbar;
  }
}
.nav-menu__item {
  padding: 8px;

  a {
    color: var(--c-white);
    @include text();
    @include link-clear();
    @include list-clear();
    font-weight: 900;
    margin: 1em;
  }
}
.nav-menu__item:last-child {
  border: 1px solid var(--c-white-50);
  border-radius: 5px;
  width: 170px;
  line-height: 2;
  font-size: 16px;
  text-align: center;
  margin-top: -5px;
  padding: 7px;
}
.navbar-wrapper {
  max-width: 1440px;
}
